@model ECO.Sample.Presentation.Areas.Events.Models.SessionEditViewModel

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sessionModal">
  Add New
</button>

<div class="modal" tabindex="-1" id="sessionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddSession" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="EventCode" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Level" class="control-label"></label>
                        <input asp-for="Level" class="form-control" />
                        <span asp-validation-for="Level" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SpeakerCode" class="control-label"></label>
                        <input asp-for="SpeakerCode" class="form-control" />
                        <span asp-validation-for="SpeakerCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>