@model ECO.Sample.Presentation.Areas.Events.Models.EventViewModel

@{
    ViewData["Title"] = "Edit an event";
}

<h1>Edit</h1>

<h4>EventDetail</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="EventCode" type="hidden" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <p>Sessions</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <label>Title</label>
                    </th>
                    <th>
                        <label>Speaker</label>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sessions)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Speaker)
                        </td>
                        <td>
                            <a asp-action="RemoveSession" asp-route-id="@Model.EventCode" asp-route-sessionid="@item.SessionCode" onclick="return confirm('Are you sure?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sessionModal">
            Add New            
        </button>
        <div class="modal" tabindex="-1" id="sessionModal">            
            <form asp-action="AddSession" method="post">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New session</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="EventCode" type="hidden" />
                            <div class="form-group">
                                <label asp-for="NewSession.Title" class="control-label"></label>
                                <input asp-for="NewSession.Title" class="form-control" />
                                <span asp-validation-for="NewSession.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewSession.Description" class="control-label"></label>
                                <input asp-for="NewSession.Description" class="form-control" />
                                <span asp-validation-for="NewSession.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewSession.Level" class="control-label"></label>
                                <input asp-for="NewSession.Level" class="form-control" />
                                <span asp-validation-for="NewSession.Level" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewSession.SpeakerCode" class="control-label"></label>
                                <input asp-for="NewSession.SpeakerCode" class="form-control" />
                                <span asp-validation-for="NewSession.SpeakerCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>




@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
