@model IEnumerable<ECO.Sample.Application.Events.DTO.EventListItem>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="Name"></label>
            </th>
            <th>
                <label asp-for="EventCode"></label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="EventCode">Edit</a>
                <a asp-action="Details" asp-route-id="Details">Details</a>
                <a asp-action="Delete" asp-route-id="Delete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
