@model ECO.Sample.Presentation.Areas.Events.Models.EventListViewModel

@{
    ViewData["Title"] = "Events";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Name</label>
            </th>
            <th>
                <label>Number of sessions</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfSessions)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventCode">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.EventCode" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
