<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="eco" type="ECO.Configuration.ECOSettings, ECO" />
  </configSections>
  <!-- ECO -->
  <eco contextType="ECO.Context.CallContextProvider, ECO">
    <data>
      <persistence-units>
        <!--ECO.Providers.InMemory -->
        <persistence-unit name="Test" type="ECO.Providers.InMemory.InMemoryPersistenceUnit, ECO.Providers.InMemory">
          <classes>
            <class type="ECO.Integrations.MassTransit.Tests.SagaStateTest, ECO.Integrations.MassTransit.Tests" />
          </classes>
          <attributes />
        </persistence-unit>
      </persistence-units>
    </data>
  </eco>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>